.bp6-dark .bp6-popover .bp6-popover-content {
  background: #30404d !important;
  border: 1px solid #5f6b7c !important;
}

.bp6-dark .bp6-minimal.bp6-popover .bp6-popover-content {
  background: #30404d !important;
  border: 1px solid #5f6b7c !important;
  box-shadow: 0 0 0 1px rgba(17, 20, 24, 0.3) !important;
}

.bp6-dark .bp6-menu {
  background: #30404d !important;
}

.font-properties-panel .bp6-input,
.font-properties-panel .bp6-html-select select,
.font-properties-panel .bp6-button,
.font-properties-panel .bp6-control {
  font-family: inherit !important;
  font-size: 15px !important;
  font-weight: 400 !important;
}

.font-properties-panel .bp6-control {
  margin-bottom: 0;
}
