.font-properties-panel .bp6-input,
.font-properties-panel .bp6-html-select select,
.font-properties-panel .bp6-button,
.font-properties-panel .bp6-control {
  font-family: inherit !important;
  font-size: 15px !important;
  font-weight: 400 !important;
}

.font-properties-panel .bp6-control {
  margin-bottom: 0;
}
